In [2]:
# Day 03 - Pandas Advanced: iloc & loc

import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Vansh', 'Ravi', 'Priya', 'Meena'],
    'Marks': [88, 76, 92, 67],
    'Passed': [True, False, True, False]
}
df = pd.DataFrame(data)

# Using iloc
print("Access row 0 with iloc:\n", df.iloc[0])

# Using loc
print("\nAccess row by label with loc:\n", df.loc[0])

Access row 0 with iloc:
 Name      Vansh
Marks        88
Passed     True
Name: 0, dtype: object

Access row by label with loc:
 Name      Vansh
Marks        88
Passed     True
Name: 0, dtype: object

In [4]:
# Filtering rows where Marks > 75
high_scorers = df[df['Marks'] > 75]
print("Students scoring above 75:\n", high_scorers)

# Filtering with multiple conditions
passed_and_high = df[(df['Marks'] > 75) & (df['Passed'] == True)]
print("\nPassed and scored above 75:\n", passed_and_high)

Students scoring above 75:
     Name  Marks  Passed
0  Vansh     88    True
1   Ravi     76   False
2  Priya     92    True

Passed and scored above 75:
     Name  Marks  Passed
0  Vansh     88    True
2  Priya     92    True

In [6]:
# Sorting by Marks in ascending order
sorted_df = df.sort_values(by='Marks')
print("Sorted by Marks (Ascending):\n", sorted_df)

# Sorting by Marks in descending order
sorted_desc = df.sort_values(by='Marks', ascending=False)
print("\nSorted by Marks (Descending):\n", sorted_desc)

Sorted by Marks (Ascending):
     Name  Marks  Passed
3  Meena     67   False
1   Ravi     76   False
0  Vansh     88    True
2  Priya     92    True

Sorted by Marks (Descending):
     Name  Marks  Passed
2  Priya     92    True
0  Vansh     88    True
1   Ravi     76   False
3  Meena     67   False